langchain==0.3.26
flask==3.1.1
sentence-transformers==4.1.0  #it use becz of open source embedding model which is available in hagging face
pypdf==5.6.1  #loading pdf document
python-dotenv==1.1.0 #manage env file
langchain-pinecone==0.2.8 #it already instll inside langchin so we write like this
langchain-openai==0.3.24
langchain-community==0.3.26 # it need as a dependies
langchain-groq==0.2.4
gunicorn
-e . #for setup.py we need this commend